.projects {
  --projects-bg: #ffffff;
  --projects-shadow: rgba(147, 137, 82, 0.5);
  --projects-hover: rgba(14, 14, 14, 1);

  --projects-photo-outline: #ff0000;

  --projects-code-link: #8f09eb;
  --projects-code-link-hover: #ff0000;
  --projects-code-link-shadow: rgba(0, 0, 0, 0.5);

  --projects-tag-color: #ffffff;
  --projects-tag-bg: #b3b735;

  --projects-text-color: #000000;
  --projects-text-first-letter: #8f09eb;
}

[data-theme="dark"] .projects {
  --projects-bg: #0e4356;
  --projects-shadow: rgba(14, 14, 14, 1);
  --projects-hover: rgba(255, 255, 255, 0.5);

  --projects-photo-outline: #63eb4f;

  --projects-code-link: #fbfd66;
  --projects-code-link-hover: #63eb4f;
  --projects-code-link-shadow: rgba(255, 255, 255, 0.5);

  --projects-tag-color: #ffffff;
  --projects-tag-bg: #898d03;

  --projects-text-color: #dadada;
  --projects-text-first-letter: #fbfd66;
}

.projects {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 20px));
    padding: 0 20px;
    margin: 20px 0;
    grid-gap: 40px;

    @media (orientation: landscape) and (max-width: 801px) {
      grid-template-columns: 1fr;
    }

    @media (orientation: portrait) and (max-width: 741px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.projects-item {
  font-size: calc(16px + 5 * (100vw / 2000));
  line-height: 1.4;
  padding: 10px 15px;
  box-shadow: 0 0 15px var(--projects-shadow);
  background-color: var(--projects-bg);
  border-radius: 20px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 15px var(--projects-hover);
  }

  &__title {
    font-size: calc(16px + 9 * (100vw / 1800));
    line-height: 1.6;
    margin: 10px 0;
  }

  &__photo {
    display: block;
    border-radius: 10px;
    padding-bottom: 58.39%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;

    &:hover {
      background-position: bottom center;
      outline: 3px solid var(--projects-photo-outline);
      outline-offset: 5px;
    }
  }

  &__code-link-container {
    font-size: 2rem;
    margin: 10px 0 2px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__code-link {
    display: block;
    padding: 5px;
    color: var(--projects-code-link);
    transition: 0.3s;

    &:hover {
      color: var(--projects-code-link-hover);
      box-shadow: 0 0 5px var(--projects-code-link-shadow);
    }

    svg {
      display: block;
    }
  }

  &__tags {
    font-size: calc(16px + 3 * (100vw / 2000));
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__tag-item {
    padding: 2px 10px;
    background-color: var(--projects-tag-bg);
    color: var(--projects-tag-color);
    border-radius: 5px;
  }

  &__text {
    color: var(--projects-text-color);
    text-indent: 30px;
    margin: 10px 0 20px 0;
    line-height: 1.6;

    &::first-letter {
      font-size: calc(16px + 9 * (100vw / 1800));
      margin-right: 1px;
      font-weight: 600;
      color: var(--projects-text-first-letter);
      text-shadow: 1px 1px 2px #000000;
    }
  }
}
