.education {
  --education-text: #000000;
  --education-section-delimiter: #000000;

  --education-highlight-bg: #e4a120;
}

[data-theme="dark"] .education {
  --education-text: #dadada;
  --education-section-delimiter: #929292;

  --education-highlight-bg: #8d7700;
}

.education {
  font-size: calc(16px + 5 * (100vw / 1800));
  line-height: 1.6;

  &__section {
    & + .education__section {
      border-top: 1px solid var(--education-section-delimiter);
      margin-top: 30px;
    }
  }

  &__title {
    font-size: calc(16px + 9 * (100vw / 1800));
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
  }

  &__text {
    color: var(--education-text);
    margin: 20px 0;
    vertical-align: middle;

    &_is_big-margins {
      margin: 40px 0;
    }

    &-icon {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      width: 32px;
      height: 32px;
      font-size: 2rem;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
    }

    b {
      background-color: var(--education-highlight-bg);
      color: #ffffff;
      padding: 0 5px;
      border-radius: 5px;
    }
  }
}
