.contacts {
  --contacts-color-highlight: #ff0000;
  --contacts-color-about: #000000;
  --contacts-github-link: #181717;
  --contacts-banner-color: #ffffff;
  --contacts-banner-bg: rgb(14 178 0 / 100%);
  --contacts-banner-border: rgb(14, 154, 2);

  --contacts-btn: #000000;
  --contacts-btn-hover: rgb(161, 166, 3);
  --contacts-btn-active: #ff0000;

  --contacts-input-color: #000000;
  --contacts-input-bg: #ffffff;
  --contacts-input-border: #aaaaaa;
}

[data-theme="dark"] .contacts {
  --contacts-color-highlight: #fbfd66;
  --contacts-color-about: #dadada;
  --contacts-github-link: #dddddd;
  --contacts-banner-color: #e3e3e3;
  --contacts-banner-bg: rgb(9, 116, 0);
  --contacts-banner-border: rgb(8, 99, 0);

  --contacts-btn: #b0aeae;
  --contacts-btn-hover: #fbfd66;
  --contacts-btn-active: #63eb4f;

  --contacts-input-color: #dadada;
  --contacts-input-bg: #003454;
  --contacts-input-border: #565656;
}

.contacts {
  overflow: hidden;

  &__title {
    font-size: calc(24px + 16 * (100vw / 1200));
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 20px 0;
    text-align: center;
  }

  &__about {
    font-size: calc(16px + 12 * (100vw / 1800));
    line-height: 1.4;
    color: var(--contacts-color-about);
    animation: fadeInUp 1s 2.8s forwards;
    opacity: 0;

    &_is_highlight {
      font-weight: 600;
      color: var(--contacts-color-highlight);
    }
  }

  &__contacts-block {
    max-width: 900px;
    margin: 30px auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    animation: fadeInUp 1s 3.8s forwards;
    opacity: 0;
  }

  &__contact-item {
    font-size: 2.5rem;
    transition: 0.5s;
    outline-offset: 3px;
    border-bottom: 3px solid transparent;
    padding: 7px;

    &:hover {
      transform: translateY(-7px);
    }

    &_is_linkedin:hover {
      border-color: #0a66c2;
    }

    &_is_twitter:hover {
      border-color: #1da1f2;
    }

    &_is_github {
      color: var(--contacts-github-link);
    }

    &_is_github:hover {
      border-color: var(--contacts-github-link);
    }

    &_is_gmail:hover {
      border-color: #ea4335;
    }

    svg {
      display: block;
    }
  }

  &__container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @media (max-width: 840px) and (orientation: landscape) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 780px) and (orientation: portrait) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 500px) {
      margin-top: 30px;
    }

    &-map {
      position: relative;
      width: 100%;
      min-height: 400px;

      &-banner {
        position: absolute;
        top: -10px;
        left: 50px;
        right: 10px;
        height: auto;
        background-color: var(--contacts-banner-bg);
        color: var(--contacts-banner-color);
        padding: 10px 15px;
        z-index: 1;
        font-size: calc(16px + 12 * (100vw / 1800));
        line-height: 1.4;
        text-shadow: 0 0 3px rgba(0, 0, 0, 1);
        border: 3px solid var(--contacts-banner-border);
        opacity: 0;
        animation: fadeInUp 1s 5.6s forwards;
      }

      &-popup-icon {
        font-size: 2rem;
        margin-right: 3px;
        color: #a3a70c;
      }
    }

    &-form {
    }
  }
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  animation: backInLeft 1s 4.6s forwards;

  .leaflet-control-attribution {
    a {
      display: none;
    }
  }
}

.leaflet-popup-content {
  font-size: 1rem;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-form {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: backInRight 1s 4.6s forwards;

  &__container {
    width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .contacts-form__input {
      margin: 0;
      flex: 1 0 240px;
      width: auto;

      @media (max-width: 300px) {
        flex: auto;
        width: 100%;
      }
    }
  }

  &__input,
  &__textarea {
    background-color: var(--contacts-input-bg);
    color: var(--contacts-input-color);
    border: 1px solid var(--contacts-input-border);
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: calc(16px + 3 * (100vw / 1800));
    padding: 10px 15px;
  }

  &__input {
    margin: 20px 0;
  }

  &__textarea {
    line-height: 1.4;
    min-height: 150px;
    margin: 20px 0;
  }

  &__btn-submit {
    font-family: inherit;
    font-size: calc(15px + 3 * (100vw / 1800));
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--contacts-btn);
    border: 1px solid var(--contacts-btn);
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
    float: right;
    transition: 0.3s;

    &:hover {
      color: var(--contacts-btn-hover);
      border-color: var(--contacts-btn-hover);
    }

    &:active {
      color: var(--contacts-btn-active);
      border-color: var(--contacts-btn-active);
    }
  }
}
