.home {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @media (max-width: 655px) and (orientation: landscape) {
    grid-template-columns: 100%;
  }

  @media (max-width: 590px) and (orientation: portrait) {
    grid-template-columns: 100%;
  }

  .s {
    max-width: 100%;
    max-height: calc(100vh - 75px);

    @media (hover: none) {
      max-height: calc(100vh - 88px);
    }

    @media (orientation: portrait) {
      max-height: calc(100vh - 135px);
    }

    @media (hover: none) and (orientation: portrait) {
      max-height: calc(100vh - 148px);
    }

    @media (max-width: 655px) and (orientation: landscape) {
      height: auto;
      grid-area: 2 / 1;
    }

    @media (max-width: 590px) and (orientation: portrait) {
      height: auto;
      grid-area: 2 / 1;
    }

    &__eyes {
      animation: eyes-moving 5s 1s ease-in-out infinite alternate;
    }

    &__arm {
      transform-origin: -100px 0px;
      transform: rotate(45deg);
      animation: arm-moving 20s 4s ease-out infinite;

      &-color {
        fill: #edc30d;
      }
    }
  }
}

@keyframes arm-moving {
  0% {
    transform: rotate(45deg);
  }

  1% {
    transform: rotate(0deg);
  }

  2% {
    transform: rotate(45deg);
  }

  3% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(45deg);
  }

  5% {
    transform: rotate(0deg);
  }

  6%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes eyes-moving {
  0%,
  45% {
    transform: translateX(0px);
  }
  55%,
  100% {
    transform: translateX(-50px);
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 655px) and (orientation: landscape) {
    margin: 0 0 20px 0;
  }

  @media (max-width: 590px) and (orientation: portrait) {
    margin: 0 0 20px 0;
  }

  &__title {
    font-size: calc(24px + 16 * (100vw / 1200));
    line-height: 1.4;
    font-weight: 600;
    margin: -35px 0 20px 0;

    @media (max-width: 655px) and (orientation: landscape) {
      margin: 20px 0;
    }

    @media (max-width: 590px) and (orientation: portrait) {
      margin: 20px 0;
    }
  }

  &__letter-s {
    font-size: calc(26px + 16 * (100vw / 1200));
    color: #c9cd02;
    text-shadow: 1px 1px 3px #000000;
  }

  &__subtitle {
    font-size: calc(16px + 12 * (100vw / 1800));
    font-style: italic;
    margin: 20px 0 50px 0;
    animation: fadeIn 1s 6s backwards;
  }

  &__controls {
    display: flex;
    gap: 20px;
  }

  &__btn {
    display: block;
    position: relative;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #000000;
    font-size: calc(16px + 8 * (100vw / 2000));
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    transition: color 0.3s;

    &::after {
      position: absolute;
      top: -1px;
      left: -100%;
      content: "";
      display: block;
      width: 100%;
      height: calc(100% + 2px);
      background-color: #c9cd02;
      z-index: -1;
      transition: left 0.3s;
    }

    &:hover::after {
      left: 0;
    }

    &:active {
      color: #ffffff;
    }
  }

  &__contact-me {
    animation: fadeIn 1s 6.1s backwards;
  }

  &__download-cv {
    animation: fadeIn 1s 6.2s backwards;
  }
}
