.contact-controls {
  display: flex;
  gap: 20px;

  &__btn {
    display: block;
    position: relative;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #000000;
    font-size: calc(16px + 8 * (100vw / 2000));
    text-decoration: none;
    color: #000000;
    overflow: hidden;
    transition: color 0.3s;

    &::after {
      position: absolute;
      top: -1px;
      left: -100%;
      content: "";
      display: block;
      width: 100%;
      height: calc(100% + 2px);
      background-color: #c9cd02;
      z-index: -1;
      transition: left 0.3s;
    }

    &:hover::after {
      left: 0;
    }

    &:active {
      color: #ffffff;
    }
  }
}

.home {
  .contact-controls__contact-me {
    animation: fadeIn 1s 6.1s backwards;
  }

  .contact-controls__download-cv {
    animation: fadeIn 1s 6.2s backwards;
  }
}

.about {
  .contact-controls__btn {
    font-size: calc(16px + 5 * (100vw / 1800));
  }
}
