.contact-controls {
  --contact-controls-btn-color: #000000;
  --contact-controls-btn-bg-hover: #c9cd02;
  --contact-controls-btn-hover: #000000;
  --contact-controls-btn-active: #ffffff;
}

[data-theme="dark"] .contact-controls {
  --contact-controls-btn-color: #b0aeae;
  --contact-controls-btn-bg-hover: #336d04;
  --contact-controls-btn-hover: #ffffff;
  --contact-controls-btn-active: #ffffff;
}

.contact-controls {
  display: flex;
  gap: 20px;

  &__btn {
    display: block;
    position: relative;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid var(--contact-controls-btn-color);
    font-size: calc(16px + 8 * (100vw / 2000));
    text-decoration: none;
    color: var(--contact-controls-btn-color);
    overflow: hidden;
    transition: color 0.3s;

    &::after {
      position: absolute;
      top: -1px;
      left: -100%;
      content: "";
      display: block;
      width: 100%;
      height: calc(100% + 2px);
      background-color: var(--contact-controls-btn-bg-hover);
      z-index: -1;
      transition: left 0.3s;
    }

    &:hover::after {
      left: 0;
    }

    &:hover {
      color: var(--contact-controls-btn-hover);
    }

    &:active {
      color: var(--contact-controls-btn-active);
    }
  }
}

.home {
  .contact-controls__contact-me {
    animation: fadeIn 1s 6.1s backwards;
  }

  .contact-controls__download-cv {
    animation: fadeIn 1s 6.2s backwards;
  }

  @media (max-width: 325px) {
    .contact-controls {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

[data-lang="ru"] .home {
  .contact-controls__contact-me {
    animation: fadeIn 1s 6.6s backwards;
  }

  .contact-controls__download-cv {
    animation: fadeIn 1s 6.7s backwards;
  }
}

.about {
  .contact-controls__btn {
    font-size: calc(16px + 5 * (100vw / 1800));
  }

  .contact-controls__contact-me {
    animation: fadeIn 1s 4.3s backwards;
  }

  .contact-controls__download-cv {
    animation: fadeIn 1s 4.4s backwards;
  }

  @media (max-width: 325px) {
    .contact-controls {
      flex-direction: column;
      align-items: center;
    }
  }
}
