.certificates {
  --certificates-link: #338afc;
}

[data-theme="dark"] .certificates {
  --certificates-link: #085233;
}

.certificates {
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 40px;

  &__item {
    position: relative;
    cursor: pointer;
    border: 6px ridge #bebebe;
    align-self: start;
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    @media (orientation: landscape) and (max-width: 961px) {
      max-width: 600px;
      margin: 0 auto;
    }

    @media (orientation: portrait) and (max-width: 901px) {
      max-width: 600px;
      margin: 0 auto;
    }

    &-photo {
      display: block;
      max-width: 100%;
    }

    &-link {
      display: block;
      position: absolute;
      font-size: 2rem;
      top: 10px;
      right: 10px;
      color: var(--certificates-link);
      background-color: rgba(255, 255, 255, 0.7);
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        color: #ff0000;
        background-color: rgba(255, 255, 255, 1);
      }

      @media (hover: none) {
        font-size: 3rem;
      }

      svg {
        display: block;
      }
    }
  }

  &_is_table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    @media (orientation: landscape) and (max-width: 961px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    @media (orientation: portrait) and (max-width: 901px) {
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }

  &_is_single {
    .certificates__item {
      max-width: 600px;
      margin: 0 auto;

      &_is_diploma-cert {
        max-width: 700px;
        margin: 0 auto;
      }
    }
  }
}
