.link {
  --link-color: #338afc;
  --link-visited: #ad27bf;
  --link-active: #ff0000;
}

[data-theme="dark"] .link {
  --link-color: #d5d756;
  --link-visited: #469ca1;
  --link-active: #63eb4f;
}

.link {
  font-weight: 600;
  color: var(--link-color);

  &:visited {
    color: var(--link-visited);
  }

  &:hover,
  &:active {
    color: var(--link-active);
  }
}
